.complete-task {
    text-decoration: line-through;
}

.hidden {
    visibility: visible;
}

body {
    position: relative;
    padding: 20px;
}

#root {
    display: inline-block;
    padding: 20px;
}

.container {
    position: relative;
    margin: auto;
    color: black;
    padding: 20px;
    text-align: center;
}

.center {
    position: relative;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 18px;
}

#task-list {
    list-style-type: none;
    font-size: 25px;
}

input[type=text] {
    background: transparent;
    border: none;
    border-bottom: 2px solid #000000;
    padding: 5px;
    width: 50%;
    font-size: 20px;
}

.pending {
    color: #55acee;
}

#tasks:nth-child(odd) {
    background-color: lightgrey;
}

.left {
    text-align: right;
}

#content {
    border: 1px solid;
}

#selected {
    padding-bottom: 1px;
    background: white;
}

.nav-rtl li {
    float: right;
}

.right-tabs .nav {
    float: right;
    border-bottom: 0px;
}

.right-tabs .nav li {
    float: left;
}

.right-tabs .tab-content {
    float: left;
    border-top: 1px solid #ddd;
    margin-top: -1px;
}

#button {
    float: right;

}

#task-item {
    cursor: pointer;
    text-align: left;
    height: 50px;
}

#row {
    overflow: auto;
    overflow-x: hidden;
    height: 300px;
}

#ul-link {
    cursor: alias;
}