.complete-task {
    text-decoration: line-through;
}

.hidden {
    visibility: visible;
}

body {
    position: relative;
    padding: 20px;
}

#root {
    display: inline-block;
    padding: 20px;
}

.container {
    position: relative;
    color: black;
    text-align: center;
}

.center {
    position: relative;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 18px;
}

#task-list {
    list-style-type: none;
    font-size: 25px;
}

input[type=text] {
    background: transparent;
    border: none;
    border-bottom: 3px solid #000000;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    padding: 5px;
    width: 50%;
    font-size: 20px;
}


#tasks:nth-child(odd) {
    background-color: darkorange;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.right {
    text-align: right;
}

#content {
    border: 1px solid;
}

#selected {
    padding-bottom: 5px;
    background: lightcyan;
}

.nav-rtl li {
    float: right;
}

.right-tabs .nav {
    float: right;
}

.right-tabs .nav li {
    float: left;
}

.right-tabs .tab-content {
    float: left;
}

#button {
    float: right;

}

#task-item {
    cursor: pointer;
    text-align: left;
    height: 50px;
    font-size: 12px;
}

#row {
    overflow: auto;
    overflow-x: hidden;
    height: 285px;
    text-align: left;
    border: ridge;
}

#ul-link {
    cursor: alias;
    border-style: ridge;
}

@media screen
and (min-width: 800px) {
    #task-item {
        font-size: 15px;
    }
}

@media screen
and (max-width: 600px) {
    #task-item {
        font-size: 12px;
        height: 76px;
    }

    input[type=text] {
        font-size: 12px;
    }

    #button {
        font-size: 10px;
    }
}

@media screen
and (max-width: 450px) {
    #task-item {
        font-size: 10px;
        height: 76px;
    }

}

@media screen
and (max-width: 380px) {
    #task-item {
        height: 124px;
    }

    input[type=text] {
        font-size: 8px;
    }

}
