.complete-task {
    text-decoration: line-through;
}

.hidden {
    visibility: hidden;
}

body {
    position: relative;
    padding: 20px;
}

input[type=text] {
    position: relative;
    -webkit-box-shadow: inset 1px -20px 3px -160px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: inset 1px -20px 3px -160px rgba(0, 0, 0, 0.75);
    box-shadow: inset 1px -20px 3px -160px rgba(0, 0, 0, 0.75);
    background: none;
    width: 25%;
    height: 45px;
    font-size: 16px;
    -webkit-transition: width .35s ease-in-out;
    transition: width .35s ease-in-out;
}

input[type=text]:focus {
    -webkit-box-shadow: inset 1px -20px 3px -16px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: inset 1px -20px 3px -16px rgba(0, 0, 0, 0.75);
    box-shadow: inset 1px -20px 3px -16px rgba(0, 0, 0, 0.75);
    background: none;
    width: 100%;
    height: 45px;
    font-size: 16px;
}

input.form-control {
    border: none;
}

.new-task {
    box-shadow: 0 8px 6px -6px black;
    border-top: none;
    height: 38px;
}

.tasks:nth-child(odd) {
    background-color: lightgrey;
    -webkit-box-shadow: inset 0px -3px 3px 2px rgba(0, 0, 0, 0.31);
    -moz-box-shadow: inset 0px -3px 3px 2px rgba(0, 0, 0, 0.31);
    box-shadow: inset 0px -3px 3px 2px rgba(0, 0, 0, 0.31);
}

.tasks:nth-child(even) {
    -webkit-box-shadow: inset 0px -3px 3px 2px rgba(0, 0, 0, 0.31);
    -moz-box-shadow: inset 0px -3px 3px 2px rgba(0, 0, 0, 0.31);
    box-shadow: inset 0px -3px 3px 2px rgba(0, 0, 0, 0.31);
}

button.btn.btn-default {
    -webkit-box-shadow: inset 3px -3px 3px 3px rgba(0, 0, 0, 0.31);
    -moz-box-shadow: inset 3px -3px 3px 3px rgba(0, 0, 0, 0.31);
    box-shadow: inset 3px -3px 3px 3px rgba(0, 0, 0, 0.31);
    margin-bottom: 3px;
    visibility: hidden;
}

.tasks:hover {
    text-align: justify;
    font-size: 16px;
    word-wrap: break-word;
    word-break: break-all;

}

.tasks:hover button {
    visibility: visible;
!important;
}

.error-task {
    text-align: justify;
}

.overflow-box {
    overflow: auto;
    max-height: 252px;
    border-radius: 8px;
    border: ridge;
    border-top: none;
    border-left: none;
    margin: 0px;
    -webkit-box-shadow: 0px 50px 39px 15px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 50px 39px 15px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 50px 39px 15px rgba(0, 0, 0, 0.75);
}

li {
    margin: 0px;
!important;
    border: 0px;
    padding-right: 0px;
}

h3 {
    text-shadow: 1px 1px 2px black;
}

@media only screen and (max-width: 576px) {

    .tasks {
        font-size: 12px;
    }

    input[type=text] {
        font-size: 12px;
    }

    input[type=text]:focus {
        font-size: 12px;
    }

    a.a-link h4 {
        font-size: 12px;
    }

    span h4 {
        font-size: 12px;
    }

    button.btn.btn-default {
        font-size: 10px;
    }

    .ul-link {
        height: 40px;
    }

    a.a-link {
        height: 40px;
    }

    p {
        font-size: 10px;
    !important;
    }
}

@media only screen and (max-width: 480px) {

    .tasks {
        font-size: 10px;
        min-width: 350px;
    }

    .form-control {
        font-size: 10px;
    }

    input[type=text] {
        width: 50%;
    }

    p {
        font-size: 8px;
    !important;
    }

    button.btn.btn-default {
        visibility: visible;
    !important;
    }

    button.btn.btn-primary {
        font-size: 10px;
    }
}

.panel {
    height: 40px;
    padding-left: 15px;
}

.panel.footer-info {
    font-size: 12px;
    border-radius: 8px;
    margin: 0px;
    -webkit-box-shadow: inset 0px -3px 3px 2px rgba(0, 0, 0, 0.31);
    -moz-box-shadow: inset 0px -3px 3px 2px rgba(0, 0, 0, 0.31);
    box-shadow: inset 0px -3px 3px 2px rgba(0, 0, 0, 0.31);
}

.panel.footer-tasks-completed {
    font-size: 12px;
    border-radius: 8px;
    margin: 0px;
    -webkit-box-shadow: inset 0px -3px 3px 2px rgba(0, 0, 0, 0.31);
    -moz-box-shadow: inset 0px -3px 3px 2px rgba(0, 0, 0, 0.31);
    box-shadow: inset 0px -3px 3px 2px rgba(0, 0, 0, 0.31);
}

.panel.footer-tasks-uncompleted {
    font-size: 12px;
    border-radius: 8px;
    margin: 0px;
    -webkit-box-shadow: inset 0px -3px 3px 2px rgba(0, 0, 0, 0.31);
    -moz-box-shadow: inset 0px -3px 3px 2px rgba(0, 0, 0, 0.31);
    box-shadow: inset 0px -3px 3px 2px rgba(0, 0, 0, 0.31);
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.ReactModal__Body--open {
    overflow: hidden;
}

.modal-dialog {
    display: flex;
    flex-direction: inherit;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 600px;

}

.modal-content {
    width: 100%;
}

.task-name {
    cursor: pointer;
}